<h1>New Car</h1>

<%= form_with model: @car do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @car.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% @car.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<form action="/cars" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="...">

  <div>
    <label for="car_title">Title</label><br>
    <input type="text" name="car[title]" id="car_title">
  </div>

  <div>
    <label for="car_body">Body</label><br>
    <textarea name="car[body]" id="car_body"></textarea>
  </div>

  <div>
    <input type="submit" name="commit" value="Create Car" data-disable-with="Create Car">
  </div>
</form>


